*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
header{
    width: 100%;
    background-color: white;
}
nav{
    /* display: flex;
    justify-content: space-between;
    margin: auto;  */
    padding: 10px 10px;
}
.heading{
    /* flex: 1; */
    text-align: center;
}
li{
    list-style: none;
    padding: 0 10px ;
    font-size: smaller;
    text-align: center;
}
.link{
    text-decoration: none;
    color: black;
}
.background{
    display: flex;
    align-items: center;
    text-align: center;
     /* background:url(/assets/images/com.jpg);  */
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("/assets/images/com.jpg");
     background-size: cover;
     
    }
.maintitle{
    font-size:35px;
    font-weight: bolder;
    letter-spacing:0.1em;
}
.content{
    text-align: center;
    padding: 40px 0;
    color: white;
    /* height: 100vh; */
    width: 100%;
} 
.para{
    font-size: x-small;
    padding-top: 7px;
    padding-bottom: 4px;
    font-weight: 200;
    letter-spacing: 0.1em;
}
.button{
    font-size: 7px;
    font-weight: bold;
    color: black;
    margin: 10px;
    padding: 6px 15px;
    background-color: #5ddbef;
    border-radius: 5px;
    border-color: none;
}
.center1{
    text-align: center;
}
.icon{
    padding-top: 20px;
    width: 50px;
    height:50px;
}
.title{
    text-align: center;
}
.paragraph{
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: small;
    font-weight: 400;
}
.center2{
    padding: 20px;
}
.about{
    padding-top: 20px;
}
.para2{
    font-size: small;
}
.pic{
    padding-top: 10px;
    text-align: center;
}
.icon1{
    width: 10px;
    height: 10px;
}
footer{
    text-align: center;
    background-color: #2f3046;
    color: white;
}
.foot1{
    padding: 20px 0;
}
.ff{
    font-weight: 200;
    font-size: small;
}
.foot3{
    padding: 20px 0;
}
.f{
    font-weight: 300;
}
@media(min-width:768px){
    nav{
        display: flex;
        justify-content: space-between;
    }
    li{
        display: inline-block;
    }
    .heading{
        flex: 1;
        text-align: start;
    }
    .background{
        height: 60vh;
    }
    .center1{
        display: flex;
    }
    .center2{
        display: flex;
        margin-top: 30px;
    }
    .about{
        flex: 5;
        margin-top: 30px;
    }
    .pic{
        flex: 4;
    }
    footer{
        display: flex;
    }
    .foot1{
        flex: 2;
    }
    .foot1 p{
        padding-top: 40px;
    }
    .foot2{
        flex: 1;
        padding-top: 20px;
    }
    .foot3{
        flex: 1;
    }

}


